<!DOCTYPE html>
<html lang="en">

<head>
	<title>Skin Disease Prediction</title>
	<link rel="shortcut icon" href="https://w7.pngwing.com/pngs/22/573/png-transparent-micro-bacteria-logo-cutaneous-condition-skin-therapy-disease-pharmaceutical-drug-allergy-miscellaneous-hand-logo.png"/>

	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Skin Disease Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

	<style>
		html {
			font-size: 1rem;
		}

		@media (min-width: 576px) {
			html {
				font-size: 1.25rem;
			}
		}

		@media (min-width: 768px) {
			html {
				font-size: 1.5rem;
			}
		}

		@media (min-width: 992px) {
			html {
				font-size: 1.75rem;
			}
		}

		@media (min-width: 1200px) {
			html {
				font-size: 2rem;
			}

			html {
				font-size: 1rem;
			}

			h1 {
				font-size: 1.2rem;
			}

			h2 {
				font-size: 1.1rem;
			}

			@media (min-width: 768px) {
				html {
					font-size: 1.1rem;
				}

				h1 {
					font-size: 1.3rem;
				}

				h2 {
					font-size: 1.2rem;
				}
			}

			@media (min-width: 991px) {
				html {
					font-size: 1.2rem;
				}

				h1 {
					font-size: 1.5rem;
				}

				h2 {
					font-size: 1.4rem;
				}
			}

			@media (min-width: 1200px) {
				html {
					font-size: 1.2rem;
				}

				h1 {
					font-size: 1.7rem;
				}

				h2 {
					font-size: 1.6rem;
				}
			}

		}
	</style>
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}

	</script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	</body>
	<!-- css files -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="bootstrap.css" rel='stylesheet' type='text/css' />
	<!-- bootstrap css -->
	<link href="style.css" rel='stylesheet' type='text/css' />
	<!-- custom css -->
	<link href="font-awesome.min.css" rel="stylesheet"><!-- fontawesome css -->
	<!-- //css files -->
	<!-- <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png?') }}"> -->

	<script type="text/JavaScript" src="cities.js"></script>

	<!-- google fonts -->
	<link href="//fonts.googleapis.com/css?family=Thasadith:400,400i,700,700i&amp;subset=latin-ext,thai,vietnamese"
		rel="stylesheet">
	<!-- //google fonts -->
	<style>
		header {
			background-color: rgba(30, 30, 30, 1);
			margin-top: 0rem;
			display: block;
		}
	</style>
</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top" style="background-color: #1C00ff00;">
		<div class="container">
			<a class="navbar-brand" href="#home">
				<img src="https://w7.pngwing.com/pngs/22/573/png-transparent-micro-bacteria-logo-cutaneous-condition-skin-therapy-disease-pharmaceutical-drug-allergy-miscellaneous-hand-logo.png" style="width: 90px; height: 55px" alt="">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#home">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="About Us.html">About Us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="Our Services.html">Our Services</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- footer -->
	<!-- //footer -->
	<!-- move top icon -->
	<a href="#home" class="move-top text-center"></a>
	<!-- //move top icon -->
        <!--{% extends 'layout.html' %}
        {% block body %}-->
			<!-- banner -->
	<section  style="background-image: url('https://www.hasnerlaw.com/wp-content/uploads/2021/12/Do-I-Have-to-Get-an-Independent-Medical-Exam.jpg'); 
			background-position: center;" 
			class="banner_w3lspvt" id="home">
				<div class="csslider infinity" id="slider1">
				
							<div class="banner-top">
								<div class="overlay">
									<div class="container">
										<div class="w3layouts-banner-info text-Center">
											<h3 class="text-wh">Skin Disease Diagnosis</h3>
											<head>
											<h4 class="text-wh mx-auto my-4"><b>Acquire information about your skin problem.</b></h4>
											<br>
											<h4 class="text-wh mx-auto my-4"><strong> Below are some queries we will address.</strong></h4>
											<p style="text-align: justify;" class="text-li mx-auto mt-2">
												1. Which specific skin disorder do you have? <br>
												2. What symptoms are associated with your disease? <br>
												3. What measures should be taken for your Condition? <br>
												
												</p>
										</div>
									</div>
								</div>
							</div>
			</section>
			<!-- //banner -->
			<!-- core values -->
			<section class="core-value py-5">
				<div class="container py-md-4">
					<h3 class="heading mb-sm-5 mb-4 text-center"> About Us</h3>
					<div class="row core-grids">
						<div class="col-lg-6 core-left">
							<img src="https://st.depositphotos.com/1135494/1604/i/450/depositphotos_16040349-stock-photo-natural-health-concept-beautiful-woman.jpg" alt="" />
						</div>
						<div class="col-lg-6 core-right">
							<h3 class="mt-4">ADVANCING DERMATOLOGY, ENRICHING LIVES, IDENTIFYING SKIN DISEASES TO ENHANCE PATIENT WELL-BEING AND TREATMENT OUTCOMES.
								</h3>
							<p class="mt-3">Utilizing state-of-the-art machine learning and deep learning technologies, we offer cutting-edge solutions to assist individuals, health care professionals, and researcher in predicting and addressing various skin conditions. Our mission is to empower users with accurate and timely predictions about their skin health, enabling early intervention and improved. treatment enhanced optimized treatment effectiveness.</p>
						</div>
					</div>
				</div>
			</section>
			<!-- //core values -->
<style>
    .blog {
        text-align: center; /* Aligning the content to the center */
    }
    .blog-center {
        display: inline-block; /* Making the container inline-block to center it */
        text-align: left; /* Aligning the content inside the container to the left */
        margin: 0 auto; /* Centering the container */
    }
</style>
<!-- Products & Services -->
<section class="blog py-5">
    <div class="container py-md-5" style="margin-top: 20px;"> <!-- Add margin-top to the container -->
        <h3 class="heading mb-sm-5 mb-4 text-center">Our Services</h3><br>
        <div class="col-lg-4 col-md-6 blog-center mb-lg-0 mb-sm-5 pb-lg-0 pb-md-5">
            <img src="https://magazine.medlineplus.gov/images/uploads/main_images/_main_article_list/is-it-vitiligo.jpg" class="img-fluid" alt="" />
            <a href="upload.html"> <!-- Link to the prediction page -->
                <div class="blog-info">
                    <h4>SKIN DISEASE DETECTION</h4>
                    <p class="mt-2">Anticipate disease type, symptoms and preventive measures for minimizing its impact.</p>
                </div>
            </a>
        </div>
    </div>
</section>
<!-- //Products & Services -->
<!-- Creating custom grid and hover effect -->
<!-- <section>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <div class="hovereffect">
        <img class="img-responsive" src="images/s2.jpg" alt="">
        <div class="overlay">
           <h2>Hover effect 1</h2>
           <a class="info" href="#">link here</a>
        </div>
    </div>
</div> -->
				<footer class="text-center py-5">
					<div class="container py-md-3">
						<!-- logo -->
						<h2 class="logo2 text-center">
							<a href="#home">
								Skin Disease Diagnosis
							</a>
						</h2>
						<!-- //logo -->
						<!-- address -->
						<div class="contact-left-footer mt-4">
							<!-- <a href="community.html">Community</a> -->
							</p>
						</div>
						<div class="w3l-copy text-center">
							<p class="text-da">An Intelligent System <br> </p>
						</div>
						<p class="homelogo">
						<p>Made with ❤️ by Gayatri,Bhavani,Swathi,Sravani</p>
					</div>
				</footer>

</body>

</html>
